.checkbox-btn:after,
.radio-btn:after {
  background: #FFF;
  transition: all;
  opacity: 0;
}

.test {
  display: block;
}

.radio-btn {
  position: relative;
  left: 25px;
}

.radio-btn:after,
.radio-btn:before {
  position: absolute;
  content: '';
}

.radio-btn:before {
  top: 0;
  left: -40px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #FFF;
}

.radio-btn:after {
  top: 5px;
  left: -25px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.checkbox-btn {
  position: relative;
  left: 25px;
  margin-top: 12px;
  display: inline-block;
}

.checkbox-btn:before {
  content: '';
  position: absolute;
  top: 0;
  left: -40px;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  border: 2px solid #FFF;
}

.checkbox-btn:after {
  content: '';
  position: absolute;
  top: 5px;
  left: -15px;
  width: 15px;
  height: 15px;
}

.radio-expand[type=radio]:checked+label::after {
  animation: expandRadioCir .3s linear forwards;
}

.radio-explode[type=radio]:checked+label::before {
  animation: explodeRadioCir .3s linear forwards;
}

.radio-flip[type=radio]:checked+label::before {
  animation: flipRadioCir .3s linear forwards;
}

.radio-fade[type=radio]:checked+label::before {
  animation: fadeRadioCir .3s linear forwards;
}

.checkbox-check {
  position: absolute;
  opacity: 0;
  visibility: hidden;
}

.checkbox-check[type=checkbox]:checked+label::before {
  animation: checkBtnChk .3s linear forwards;
}

.checkbox-check[type=checkbox]:checked+label::after {
  animation: checkBtnChk2 .3s linear forwards;
}

.checkbox-x[type=checkbox]:checked+label::before {
  animation: checkBtnX .3s linear forwards;
}

.checkbox-x[type=checkbox]:checked+label::after {
  animation: checkBtnX2 .3s linear forwards;
}

@keyframes expandRadioCir {
  from {
    opacity: 0;
    transform: scale(0);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes explodeRadioCir {
  0% {
    opacity: 1;
    transform: scale(1);
  }

  50% {
    opacity: 0;
    transform: scale(0);
  }

  100% {
    opacity: 1;
    background: #FFF;
    transform: scale(1);
  }
}

@keyframes flipRadioCir {
  from {
    transform: rotateY(0);
  }

  to {
    background: #FFF;
    transform: rotateY(180deg);
  }
}

@keyframes fadeRadioCir {
  0% {
    background: 0 0;
  }

  100% {
    background: #FFF;
  }
}

@keyframes checkBtnChk {
  0% {
    height: 25px;
  }

  100% {
    top: 10px;
    left: -30px;
    height: 0;
    transform: rotate(-52deg);
  }
}

@keyframes checkBtnChk2 {
  from {
    opacity: 0;
  }

  to {
    top: 15px;
    left: -33px;
    height: 5px;
    width: 10px;
    opacity: 1;
    transform: rotate(40deg);
  }
}

@keyframes checkBtnX {
  0% {
    height: 25px;
  }

  100% {
    top: 10px;
    left: -40px;
    height: 0;
    transform: rotate(-50deg);
  }
}

@keyframes checkBtnX2 {
  from {
    opacity: 0;
  }

  to {
    top: 10px;
    left: -40px;
    height: 4px;
    width: 25px;
    opacity: 1;
    transform: rotate(40deg);
  }
}
.remodal-overlay.remodal-is-closing,
.remodal-overlay.remodal-is-opening,
.remodal.remodal-is-closing,
.remodal.remodal-is-opening {
  animation-duration: .3s;
  animation-fill-mode: forwards;
}

.remodal-bg.remodal-is-opened,
.remodal-bg.remodal-is-opening {
  filter: blur(3px);
}

.remodal-overlay {
  background: rgba(43,46,56,.9);
}

.remodal-overlay.remodal-is-opening {
  animation-name: remodal-overlay-opening-keyframes;
}

.remodal-overlay.remodal-is-closing {
  animation-name: remodal-overlay-closing-keyframes;
}

.remodal-wrapper {
  padding: 10px 10px 0;
}

.remodal {
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 10px;
  padding: 35px;
  transform: translate3d(0,0,0);
  color: #2b2e38;
  background: #fff;
}

.remodal-close,
.remodal-close:before {
  position: absolute;
  top: 0;
  display: block;
  width: 35px;
}

.remodal-cancel,
.remodal-close,
.remodal-confirm {
  overflow: visible;
  margin: 0;
  cursor: pointer;
  text-decoration: none;
  outline: 0;
  border: 0;
}

.remodal.remodal-is-opening {
  animation-name: remodal-opening-keyframes;
}

.remodal.remodal-is-closing {
  animation-name: remodal-closing-keyframes;
}

.remodal,
.remodal-wrapper:after {
  vertical-align: middle;
}

.remodal-close {
  right: 0;
  height: 35px;
  padding: 0;
  transition: color .2s;
  color: #5e5e5e;
  background: 0 0;
}

.remodal-close:focus,
.remodal-close:hover {
  color: #2b2e38;
}

.remodal-close:before {
  font-family: Arial,"Helvetica CY","Nimbus Sans L",sans-serif!important;
  font-size: 25px;
  line-height: 35px;
  left: 0;
  content: "\00d7";
  text-align: center;
}

.remodal-cancel,
.remodal-confirm {
  font: inherit;
  display: inline-block;
  min-width: 110px;
  padding: 12px 0;
  transition: background .2s;
  text-align: center;
  vertical-align: middle;
}

.remodal-confirm {
  color: #fff;
  background: #81c784;
}

.remodal-confirm:focus,
.remodal-confirm:hover {
  background: #66bb6a;
}

.remodal-cancel {
  color: #fff;
  background: #e57373;
}

.remodal-cancel:focus,
.remodal-cancel:hover {
  background: #ef5350;
}

.remodal-cancel::-moz-focus-inner,
.remodal-close::-moz-focus-inner,
.remodal-confirm::-moz-focus-inner {
  padding: 0;
  border: 0;
}

@keyframes remodal-opening-keyframes {
  from {
    transform: scale(1.05);
    opacity: 0;
  }

  to {
    transform: none;
    opacity: 1;
    filter: blur(0);
  }
}

@keyframes remodal-closing-keyframes {
  from {
    transform: scale(1);
    opacity: 1;
  }

  to {
    transform: scale(.95);
    opacity: 0;
    filter: blur(0);
  }
}

@keyframes remodal-overlay-opening-keyframes {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes remodal-overlay-closing-keyframes {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@media only screen and (min-width:641px) {
  .remodal {
    max-width: 650px;
  }
}

.lt-ie9 .remodal-overlay {
  background: #2b2e38;
}

.lt-ie9 .remodal {
  width: 700px;
}
html.remodal-is-locked {
  overflow: hidden;
  -ms-touch-action: none;
  touch-action: none;
}

.remodal,
[data-remodal-id] {
  display: none;
}

.remodal-overlay {
  position: fixed;
  z-index: 9999;
  top: -5000px;
  right: -5000px;
  bottom: -5000px;
  left: -5000px;
  display: none;
}

.remodal-wrapper {
  position: fixed;
  z-index: 10000;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  overflow: auto;
  text-align: center;
  -webkit-overflow-scrolling: touch;
}

.remodal-wrapper:after {
  display: inline-block;
  height: 100%;
  margin-left: -.05em;
  content: "";
}

.remodal-overlay,
.remodal-wrapper {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.remodal {
  position: relative;
  outline: 0;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

.remodal-is-initialized {
  display: inline-block;
}