<include src="../chunks/head.html"></include>
</head>

<body>
<!-- Begin svg -->
<include src="../chunks/svg.html"></include>
<!-- End svg -->
<div id="page-wrapper" class="page-wrapper">

    <!-- Begin header -->
    <include src="../chunks/header.html"></include>
    <!-- End header -->

    <!-- Begin page body -->
    <div id="page-body" class="page-body">
        <div class="home" id="home">
            <div class="item__wrap" style="background: #f3f3f3 url(../images/bg-home.png) no-repeat center/cover">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h1>CAN’T KEEP UP WITH YOU SOCIAL <span>NETWORK PROFILES?</span></h1>
                        </div>
                        <div class="col-md-12 text-center">
                            <ul class="list-link">
                                <li>
                                    <img src="images/igpng.png" alt="img">
                                    <p>Fully Managed
                                        From $199p/m</p>
                                    <a class="el__btn" href="#">Find out more</a>
                                </li>
                                <li>
                                    <img src="images/fbpng.png" alt="img">
                                    <p>coming soon</p>
                                    <a class="el__btn" href="#">Find out more</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-12 text-center">
                            <p><a href="#" class="el__btn">Start a free trial</a></p>
                            <i class="fa fa-angle-left" aria-hidden="true"></i>
                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                            <i class="fa fa-home" aria-hidden="true"></i></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="cont-bg">
            <div class="company" id="company">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h2 class="el__title">The company</h2>
                            <p class="text-style-1">Australian owned and Australian managed team of social media experts, copyrighters, designers and
                                SEO specialists are helping Australian businesses to gain, maintain and increase their online exposure.
                                Effective SMM is all about saving 100’s of hours and putting them back to business. We believe that 
                                social media is live and changing environment, which requires a personal touch and human interaction. 
                                Social networks cannot be adequately managed by automated publishing tools or software. Effective 
                                human communication and engaging your audience is a key to success!
                                We help you to establish personal contacts and engage prospective customers, buyers and your 
                                followers on a regular basis.</p>

                            <ul class="list__services">
                                <li>
                                    <div class="services">
                                        <div class="img__wrap"><img src="images/us-1.png" alt="img"></div>
                                        <p>Retail</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="services">
                                        <div class="img__wrap"><img src="images/us-2.png" alt="img"></div>
                                        <p>Legal</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="services">
                                        <div class="img__wrap"><img src="images/us-3.png" alt="img"></div>
                                        <p>Food</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="services">
                                        <div class="img__wrap"><img src="images/us-4.png" alt="img"></div>
                                        <p>Services</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="how-it-works" id="how-it-works">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h2 class="el__title">How it works</h2>
                            <p class="text-style-1">We are Social Media Management Company entrusted with <a href="#">monitoring</a>, <a href="#">contributing</a>, <a
                                    href="#">filtering</a>,  <a href="#">measuring and 
                                sustaining social media presence of a brand</a>, <a href="#">product</a>, <a
                                    href="#">individual</a> or <a href="#">business</a>.
                            </p>
                            <p  class="text-style-1">
                                Online presence is becoming more essential than ever for a business to generate sales. However, not all 
                                the companies have a dedicated social media and networking expert to manage their daily online 
                                routine.    
                                Company page on Facebook is not enough these days to get online exposure.  It takes more than one 
                                social network to stand out from the crowd.
                                We only offer ORGANIC traffic and followers.Organic followers vs. Bots 
                                It is easy to spot poorly marketed account on Instagram. Simply compare number of likes to number of 
                                followers and number of followed accounts to number of followers. 
                            </p>

                            <p  class="text-style-1">1.
                                As a guide, an organic account with 20-30k followers will get a standard of 1000-2000 likes per 
                                photo/post 
                                anytime of the day and
                            </p>
                            <p  class="text-style-1">
                                2. Number of followed accounts should not be more than 500. If you see 2000 followers and 6000 
                                followed
                                accounts that mean there is no strategy and account holder is relying on “follow for 
                                follow” principal.
                            </p>
                            <ul class="list-style">
                                <li><i class="fa fa-check" aria-hidden="true"></i> Regular posts to all social networks; </li>
                                <li><i class="fa fa-check" aria-hidden="true"></i> Update groups and company pages with latest and up-to date information about your product 
                                    or services;  
                                </li>
                                <li><i class="fa fa-check" aria-hidden="true"></i> Publish interesting and informative content; </li>
                                <li><i class="fa fa-check" aria-hidden="true"></i> Interact with followers and members by creating polls and themed discussions;  </li>
                                <li><i class="fa fa-check" aria-hidden="true"></i> Clean inappropriate comments, spam and negative feedback to create a positive image of the 
                                    company;
                                </li>
                                <li><i class="fa fa-check" aria-hidden="true"></i> Create relevant hashtags and including them in posts; </li>
                                <li><i class="fa fa-check" aria-hidden="true"></i> Social profile creation and optimisation; </li>
                                <li><i class="fa fa-check" aria-hidden="true"></i> Develop unique branded design and style for your social media profile; </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="prising" id="prising">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="el__title">Prising</h2>
                        <p class="text-style-1">
                            We offer four different monthly packages to suit your business needs ranging from a simple profile 
                            monitoring to complete social media presence. </p>

                        <div class="table__wrapper">
                            <table>
                                <thead>
                                <tr>
                                    <th></th>
                                    <th>Bronze</th>
                                    <th>Silver</th>
                                    <th>Gold</th>
                                    <th>Diamond</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td></td>
                                    <td>3 months
                                        minimum
                                    </td>
                                    <td>5 months
                                        minimum
                                    </td>
                                    <td>No minimum
                                        term
                                    </td>
                                    <td>Customise
                                        and Order
                                    </td>
                                </tr>
                                <tr>
                                    <td>Price per month</td>
                                    <td>$199</td>
                                    <td>$399</td>
                                    <td>$799</td>
                                    <td>POA</td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>ORDER</td>
                                    <td>ORDER</td>
                                    <td>ORDER</td>
                                    <td>Contact Us</td>
                                </tr>
                                <tr>
                                    <td>7 Day Trial</td>
                                    <td><span class="check"><i class="fa fa-check" aria-hidden="true"></i></span></td>
                                    <td><span class="check"><i class="fa fa-check" aria-hidden="true"></i></span></td>
                                    <td><span class="check"><i class="fa fa-check" aria-hidden="true"></i></span></td>
                                    <td><span class="check"><i class="fa fa-check" aria-hidden="true"></i></span></td>
                                </tr>
                                <tr>
                                    <td>Posts per week
                                    </td>
                                    <td>3 <br>
                                        Mon, Wed, Fri
                                    </td>
                                    <td>5<br>
                                        Wed, Fri
                                    </td>
                                    <td>10<br>
                                        Wed, Fri
                                    </td>
                                    <td>TBD</td>
                                </tr>
                                <tr>
                                    <td>Organic followers</td>
                                    <td><span class="check"><i class="fa fa-check" aria-hidden="true"></i></span></td>
                                    <td><span class="check"><i class="fa fa-check" aria-hidden="true"></i></span></td>
                                    <td><span class="check"><i class="fa fa-check" aria-hidden="true"></i></span></td>
                                    <td><span class="check"><i class="fa fa-check" aria-hidden="true"></i></span></td>
                                </tr>
                                <tr>
                                    <td>Dedicated  account
                                        manager
                                    </td>
                                    <td><span class="check"><i class="fa fa-check" aria-hidden="true"></i></span></td>
                                    <td><span class="check"><i class="fa fa-check" aria-hidden="true"></i></span></td>
                                    <td><span class="check"><i class="fa fa-check" aria-hidden="true"></i></span></td>
                                    <td><span class="check"><i class="fa fa-check" aria-hidden="true"></i></span></td>
                                </tr>
                                <tr>
                                    <td>Cross promotion
                                        to Facebook page
                                    </td>
                                    <td><span class="check"><i class="fa fa-check" aria-hidden="true"></i></span></td>
                                    <td><span class="check"><i class="fa fa-check" aria-hidden="true"></i></span></td>
                                    <td><span class="check"><i class="fa fa-check" aria-hidden="true"></i></span></td>
                                    <td><span class="check"><i class="fa fa-check" aria-hidden="true"></i></span></td>
                                </tr>
                                <tr>
                                    <td>Weekly reports</td>
                                    <td>Simple</td>
                                    <td>Standard</td>
                                    <td>Advanced</td>
                                    <td>TBD</td>
                                </tr>
                                <tr>
                                    <td>Profile data
                                        optimisation
                                    </td>
                                    <td><span class="none"><i class="fa fa-times" aria-hidden="true"></i></span></td>
                                    <td><span class="check"><i class="fa fa-check" aria-hidden="true"></i></span></td>
                                    <td><span class="check"><i class="fa fa-check" aria-hidden="true"></i></span></td>
                                    <td><span class="check"><i class="fa fa-check" aria-hidden="true"></i></span></td>
                                </tr>
                                <tr>
                                    <td>Hashtag research</td>
                                    <td><span class="none"><i class="fa fa-times" aria-hidden="true"></i></span></td>
                                    <td><span class="check"><i class="fa fa-check" aria-hidden="true"></i></span></td>
                                    <td><span class="check"><i class="fa fa-check" aria-hidden="true"></i></span></td>
                                    <td><span class="check"><i class="fa fa-check" aria-hidden="true"></i></span></td>
                                </tr>
                                <tr>
                                    <td>High influencer
                                        research 
                                    </td>
                                    <td><span class="none"><i class="fa fa-times" aria-hidden="true"></i></span></td>
                                    <td><span class="check"><i class="fa fa-check" aria-hidden="true"></i></span></td>
                                    <td><span class="check"><i class="fa fa-check" aria-hidden="true"></i></span></td>
                                    <td><span class="check"><i class="fa fa-check" aria-hidden="true"></i></span></td>
                                </tr>
                                <tr>
                                    <td>Competitor research
                                        &  tracking 
                                    </td>
                                    <td><span class="none"><i class="fa fa-times" aria-hidden="true"></i></span></td>
                                    <td><span class="none"><i class="fa fa-times" aria-hidden="true"></i></span></td>
                                    <td><span class="check"><i class="fa fa-check" aria-hidden="true"></i></span></td>
                                    <td><span class="check"><i class="fa fa-check" aria-hidden="true"></i></span></td>
                                </tr>
                                <tr>
                                    <td>Content</td>
                                    <td>Supplied by client
                                        and Instagram
                                    </td>
                                    <td>Supplied by client
                                        and Instagram
                                    </td>
                                    <td>Supplied by client
                                        and Instagram
                                    </td>
                                    <td>Supplied by client
                                        and Instagram
                                    </td>
                                </tr>
                                <tr>
                                    <td>Custom
                                        Infographics 
                                    </td>
                                    <td><span class="none"><i class="fa fa-times" aria-hidden="true"></i></span></td>
                                    <td><span class="none"><i class="fa fa-times" aria-hidden="true"></i></span></td>
                                    <td><span class="check"><i class="fa fa-check" aria-hidden="true"></i></span> 1 per week</td>
                                    <td>TBD</td>
                                </tr>
                                </tbody>
                            </table>
                            <a href="#" class="btn">GET STARTED <img src="images/rocket.png" alt="img"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="contact" id="contact">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="el__title">Contact us</h2>
                        <p class="text-style-1">NEED BRANDED CUSTOM DESIGNED SOCIAL ACCOUNT?  GET A FREE QUOTE NOW.</p>
                        <p class="text-style-1">Fill in the form below and we will get back to 
                            you shortly. </p>

                        <ul class="list-cont">
                            <li><a href="#"><i class="fa fa-envelope" aria-hidden="true"></i> info@EffectiveSMM.com</a></li>
                            <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i> @effective_smm</a></li>
                        </ul>

                        <ul>
                            <li><a href="#">Home</a></li>
                            <li><a href="#">The company</a></li>
                            <li><a href="#">What we do</a></li>
                            <li><a href="#">Pricing</a></li>
                            <li><a href="#"><i class="fa fa-volume-control-phone" aria-hidden="true"></i> call back</a></li>
                            <li><a href="#">Contact us</a></li>
                        </ul>

                        <form action="#">
                            <i class="fa fa-user" aria-hidden="true"></i>
                            <input type="text" placeholder="*Name:">
                            <i class="fa fa-mobile" aria-hidden="true"></i>
                            <input type="text" placeholder="*Phone:">
                            <i class="fa fa-envelope-o" aria-hidden="true"></i>
                            <input type="text" placeholder="*Email:">
                            <i class="fa fa-instagram" aria-hidden="true"></i>
                            <input type="text" placeholder="*Instagram username:">
                            <i class="fa fa-info-circle" aria-hidden="true"></i>
                            <input type="text" placeholder="Subject:">
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                            <textarea type="text" placeholder="Message:"></textarea>
                            <button type="submit">submit your message</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- End page body -->

    <!-- Begin footer -->
    <include src="../chunks/footer.html"></include>
    <!-- End footer -->

</div>

<!-- Begin script -->
<include src="../chunks/scripts.html"></include>
<!-- End script -->
</body>

</html>
